<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fresh Fetch</title>
  <link rel="stylesheet" href="/static/home.css">
</head>
<body>
  <div class="bg">
  <header class="head">
    <div class="h">
      <h1>Welcome to Fresh Fetch</h1>
      <p>Bridging the gap between farmers, vendors, and transporters for a sustainable agricultural ecosystem.</p>
      <button onclick="window.location.href='/redirect-to-index';">Register / Login</button>

    
    </div>

  </header>

  <main>
  <div class="tejas"> 
<marquee>
    <section class="stats">
      <div class="stat-box">
        <!-- <img src="/static/farmar.webp" alt=""> -->
        <h3>   Farmers  </h3>
        <p id="farmer-count">50</p>
      </div>
      <div class="stat-box">
        <h3>   Vendors  </h3>
        <!-- <img src="/static/Vendors1.webp" alt=""> -->
        <p id="vendor-count">6</p>
      </div>
      <div  class="stat-box" >
        <h3>Transporters</h3>
        <!-- <img src="/static/transport.jpeg" alt=""> -->
        <p id="transporter-count">3</p>
      </div>
    </section>
  </marquee>
</div> 
    <section class="about">
      <div class="s">
      <h2>About Fresh Fetch</h2>
      <p>The Fresh Fetch is a digital platform that connects farmers, vendors, and transport providers. Our goal is to create a seamless, sustainable pathway from farm to market, helping farmers manage produce, vendors access fresh goods, and transport providers ensure efficient deliveries. By simplifying these connections, we’re fostering a transparent and cooperative agricultural community.</p>
    </div>
    </section>
  </main>
</div>
 
</body>
</html>
