<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="message-container">
            <h2 class="r">Registration Successful!</h2>
            <p class="p">You will be redirected to the login page shortly.................!></p>
        </div>
    </div>

    <script>
        // Redirect to the registration and login page after 3 seconds
        setTimeout(function() {
            window.location.href = "/";
        }, 3000); // 3000 milliseconds = 3 seconds
    </script>
</body>
</html>
